/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
display: inline-block;
margin: 24px;
width: 200px;
padding:24px;
height:200px;
box-shadow: 5px 5px 7px rgb(54, 54, 54);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: underline;
vertical-align: top;

}

.purple {
    background-color: mediumslateblue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: violet;
    
}

.blue {
    background-color: skyblue;

}

.small {
    width:200px;
    height: 200px;
    background-color: limegreen;
}

.image {
    background-color: rgb(235, 235, 235);
    display: inline-block;
    width: 200px;
    margin: 24px;
    padding: 24px;
    height: 200px;
    vertical-align: top;
    box-shadow: 5px 5px 7px rgb(54, 54, 54);
}

