* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 800px;
    margin: 36px auto;
    border: 3px solid red;
}

#side-by-side-1 {
display:flex;
align-items:center ;

}

#side-by-side-1 img {
    width: 50%;
}

#side-by-side-1 h2 {
font-size: 60px

}

#side-by-side-2 {
    display: flex;
    align-items: center;
}

#side-by-side-2 .image-container {
    flex: 1;
}

#side-by-side-2 .text-container {
    flex: 2;
}

#side-by-side-2 .image-container img {
    width: 100%;
}