* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    border: 1px solid #333333;

}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding:24px;
}

#sidebar .chapter {
    font-weight: bold;
    font-size:24px;
    margin-top:14px;
}

#sidebar .edit {
    color: orange;
    font-style: italic;
}

#sidebar .chapter.edit {
    color: red;
}

#sidebar h4 {
    border-bottom:2px solid white;
    padding-bottom: 7px;
    text-align: left;
    
}

#sidebar ul li {
    margin-bottom:13px;
}

#sidebar ul ul li {
    margin-bottom:7px;
    margin-top: 0;
}

#sidebar + div {
    width: 50vw;
    margin:24px;
}

#sidebar + div,
#sidebar {
        display: inline-block;
        vertical-align:top;
}

#sidebar + div h4.chapter {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
}