* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.light-outer-container {
    background-color: white;
    padding: 48px 24px;
}
.dark-outer-container {
    background-color: black;
    padding: 48px 24px;
    color:white;
    margin-left: auto;
    margin-right: auto;
}
.grey-outer-container {
    background-color: #31312f;
    color:#fcfcfc
}
h1 {
    font-family: "turret road";
}
h2 {
    font-family:"noto serif display"; 
    font-weight: 350;
    font-style: italic; 
}

p {
    font-family:"outfit", sans-serif;
}

.button-black {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    padding:15px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:25px;
    font-family:"turret road"
    

}
.button-white {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid;
    padding:15px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:2px;
    font-family: "turret road";
    

}


.button-gray {
    display: inline-block;
    text-decoration: none;
    background-color: 31312f;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    padding:15px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:2px;
    font-family: "turret road";
    

}