* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    font-family:"gabarito"
}

#thumbnail-column {
    width: 100px;
}

#thumbnail-column img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 20px;
}


#featured-image-column {
    flex:1;
    margin-left:30px;
    margin-right:30px;
    border-radius: 20px;
}

#featured-image-column img {
    width: 70%;
    height: 440px;
    border-radius: 10px;
}

#product-info-column {

 width: 300px;

}

#seller-info #seller-account {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin:10px 0px;
    padding: 20px 0px;
}

#seller-account a {
    color:black;
    text-decoration: none;
}

#seller-account span {
    color: grey;
}

#seller-account a:hover {
transition: .1s;
color: gray;
opacity: 80%;
}

.seller-details {
text-decoration: underline;
margin:5px;
;
}

#seller-details #seller span {
font-size: 13px;
text-decoration: none;


}

#price {
    font-weight: bolder;
    font-size: 24px;
    color: black;
}

#price span {
font-weight: lighter;
font-size: 15px;
}

#price span span {
 font-weight: bolder;
 font-size: 15px;
}

#price a {
 text-decoration: underline;
 font-weight: lighter;
 font-size: 15px;
 color: black;
}

#price a:hover {
transition: .1s;
color: gray;
opacity: 80%;
}

#condition span {
    font-weight: bolder;
    color: black;
}

#product-info-column h1 h2 {
    font-size: 28px;
}

#button a {
    display: block;
    text-decoration: none;
    color: #0968F6;
    background-color: white;
    border: 1px solid #0968F6;
    border-radius: 28px;
    padding: 15px 13px;
    text-align: center;
    margin-top: 20px;
    transition: .1s;


}

#button a.blue-button {
    color: white;
    background-color: #0968F6;
    font-weight: bolder;
    transition:.1s;
}

.blue-button:hover {
    background-color: gray;
    opacity: 90%;
    transition: .1s;
}

#button .white-button:hover {
    background-color: rgb(236, 233, 233);
    opacity: 90%;
    transition: .1s;
}